{% extends 'base.html.twig' %}

{% block title property.title %}

{% block body %}
<div class='container text-center mt-4'>
  <div class='row'>
    <div class='col-md-8'>
    </div>
    <div class='col-md-4'>
      <h1>{{ property.title }}</h1>
      <h2>{{ property.rooms }} rooms - {{ property.surface }} m2</h2>
      <div class='text-primary' style='font-size: 2rem;'>
        {{ property.formatedPrice }} $
      </div>
      <a href="" class='btn btn-primary mt-4'>Contact us</a>
    </div>
  </div>
      <nav class="nav nav-tabs mt-4" id='tab'></nav>
      <p>{{ property.description | nl2br}}</p>
</div>
<div class='container'>
  <div class='row'>
    <div class='col-md-8'>
      <h2>Features</h2>
      <table class='table table-striped'>
        <tr>
          <td>Surface</td>
          <td>{{ property.surface }} m2</td>
        </tr>
        <tr>
          <td>Rooms</td>
          <td>{{ property.rooms }}</td>
        </tr>
        <tr>
          <td>Bedrooms</td>
          <td>{{ property.bedrooms }}</td>
        </tr>
        <tr>
          <td>Floor</td>
          <td>{{ property.floor }}</td>
        </tr>
        <tr>
          <td>Heat type</td>
          <td>{{ property.heatType }}</td>
        </tr>
      </table>
    </div>
    <div class='col-md-4'>
      <h2>Options</h2>
    </div>
  </div>
</div>
  
{% endblock %}
