<div>
  <table>
    <tr>
      <td>
        <table>
          <tr>
            <td>Property</td>
            <td><a href="{{ url('property.show', {id: contact.property.id, slug: contact.property.slug}) }}">{{ contact.property.title }}</a></td>
          </tr>
          <tr>
            <td>Name</td>
            <td>{{ contact.firstname }} {{ contact.lastname }}</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>{{ contact.mail }}</td>
          </tr>
          <tr>
            <td>Message</td>
            <td>{{ contact.message | nl2br }}</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
